button{
    color:#454545;
    background:transparent;
    border-width:1px;
    border-style: solid;
    border-color: #454545;
    position:relative;
    margin:0.3em;
    display:inline-block;
    padding:0.2em 0.4em;
    transition:all 0.3s ease-in-out;
    text-align:center;
    font-family:Lucida Grande;
    font-weight:normal}
button:before,
button:after{
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;
    transition:all 0.3s ease-in-out}
button:before{
    top:-3px;
    left:-3px;
    border-width:1px 0 0 1px;
    z-index:5}
button:after{
    bottom:-3px;
    right:-3px;
    border-width:0 1px 1px 0}
button:hover:before,
button:hover:after{
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:#353535}
button:hover{
    color:#353535;
    background-color:#fff;
    border-color:#fff}

p{color: #353535; font-family:Lucida Sans Unicode;
    font-weight:normal,
    font-size: 30px;
    line-height: 32px;
    margin: 0 0 24px;}